body {
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #616060, #9c9b9b, #89a4ad, #121212);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: #fff;
    font-family: "Courier New", monospace;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.gradient-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: gradient 15s ease infinite;
    z-index: -1; 
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.toolbar {
    background-color: #222;
    opacity: 0.7;
    padding: 0px 0;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.toolbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 20px 30px; 
    background-color: #222; 
    transition: background-color 1s, color 1s; 
    
}

.toolbar a:hover {
    background-color: #333;
    color: #222;
    
}

.toolbar img {
    max-width: 30px; 
    margin: 0 10px; 
}

.spacer {
    flex: 1; 
}

h1 {
    font-size: 36px;
    text-align: left;
    margin-top: 20px;
    color:#222 
}

.link-container {
    display: flex;
    justify-content: space-between; /* Adjust as needed to control spacing */
    margin-right: 10px
}

.infobar {
    background-color: #333;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    width: 100%;
}

.option:hover {
    background-color: #777;
}

.textbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    overflow: hidden;
}

.textbox {
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    opacity: 0;
    transition: opacity 0.5s;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    opacity: 0.85;
    margin-bottom: 60px;
    padding: 20px;
}


/* Style for project cards */
.project-card {
    height: 200px;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 10px;
    background-color: #3d3939;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Hide the overflowing content (image slide) */
    position: relative; /* To make text absolute relative to this card */  
    transition: transform 1s ease, opacity 1s ease;
    opacity: 1;
}

.project-card .project-header {
    display: flex;
    justify-content: space-between;
}

.project-card .project-info .tags {
    display: flex;
    justify-content: flex-end;
    position: absolute; /* Position the tags at the bottom right */
    bottom: 10px; /* Adjust as needed for spacing */
    right: 0px; /* Adjust as needed for spacing */
}

.project-card .project-info .tag {
    background-color: #000000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    margin-left: 5px;
}

.project-card img.project-image {
    max-width: 100%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; /* Add a smooth transition for the image slide */
}

.project-card .tags {
    display: flex;
    justify-content: flex-end; /* Align tags to the right */
    padding-right: 20px; /* Add right padding to space tags from the edge */
}

.project-card .tag {
    background-color: #007BFF; /* Tag background color */
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px; /* Rounded tag shape */
    margin-left: 5px; /* Add margin between tags */
}

.project-card h2 {
    margin: 0; /* Remove margin for the title */   
    color: black;
}

.project-card .project-details {
    position: absolute;
    top: 0;
    left: 100%; /* Initially, position the text outside the card */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Background color for the text area */
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0; /* Initially hide the text */
    transition: opacity 0.3s, left 0.3s ease-in-out; /* Add smooth transitions for opacity and left position */
}

.project-card .project-details h2{
    color:#ffffff;
}

.project-card:not(.slideshow-container .project-card):hover {
    transform: scale(1.05); /* Enlarge the card by 5% on hover */
}

.project-card:hover img.project-image {
    transform: translateX(-100%); /* Slide the image to the left on hover */
}

.project-card:hover .project-details {
    opacity: 1; /* Make the description and link fully visible when the card is hovered */
    left: 0; /* Slide the text back into the card on hover */
}

.project-card .project-details a {
    display: none; /* Initially hide the link */
}   

.project-card:hover .project-details a {
    display: block; /* Display the link when the card is hovered */
    margin-top: 10px; /* Add spacing between description and link */
    text-decoration: none;
    color: #fff;
}

.project-card .project-details a:not(:last-child) {
    margin-right: 20px; /* Add margin to increase spacing between links */
}

.project-card:hover {
    opacity: 0.7;
}

@keyframes sparkle {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8);
        transform: scale(1);
    }
    50% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.8);
        transform: scale(1.05);
    }
    100% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8);
        transform: scale(1);
    }
}

/* Apply the animation to your project container (slideshow) */
.slideshow-container {
    width: 554px;
    overflow: hidden; /* Hide any overflow (just in case) */
    animation: sparkle 5s ease infinite;
    margin-left: auto;
    margin-right: 90px;
    padding-right: 20px;
}

.slideshow-container h2{
    margin-right: 20px;
}

.fade {
    width: 550px;
    animation-name: fade;
    animation-duration: 10s; /* Time for each card to stay */
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes fade {
    0%, 100% { opacity: 0; }
    5%, 95% { opacity: 1; }
}

.right-align {
    margin-left: auto;
    margin-right: 150px;
}

.fade-in-text {
    opacity: 0; /* Initially, set the opacity to 0 to hide the text */
    animation: fadeIn 2s ease forwards; /* Apply the fadeIn animation */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1; /* At the end of the animation, set the opacity to 1 to make the text fully visible */
    }
}

footer {
    background-color: #222; /* Background color for the footer */
    color: #fff; /* Text color */
    text-align: center;
    padding: 10px 0; /* Adjust padding as needed */
    margin-top: auto; /* Push the footer to the bottom */
    opacity: 0.85;
}

footer p {
    margin: 0;
    font-size: 14px; /* Adjust font size as needed */
}




